.div1{background:url("pangrou.jpg");background-repeat: no-repeat;background-size: cover;overflow: hidden;}
.div2{margin-left:40%;}
.font{color:white;font-size: 35px;}
.font2{color:white;font-size: 25px;}
.response{color:red;font-size: 20px;}